@model Uspevaemost.Models.Vedomost

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vedomost</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marknumb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marknumb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdZachNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdZachNavigation.Fio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameSubject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameSubject.NameSubject)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idvedomost">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
