@model IEnumerable<Uspevaemost.Models.Vedomost>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdZachNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameSubject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marknumb)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.IdZachNavigation.Fio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameSubject.NameSubject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marknumb)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idvedomost">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Idvedomost">Информация</a> |
                <a asp-action="Delete" asp-route-id="@item.Idvedomost">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
